h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: gray;
}
input[type=text], input[type=number] , input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    order-radius: 7px;
    box-sizing: border-box;
    line-height: 10px;
   
  }
  
  button {
    background-color:purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-left: 40px;
    width: 100px;
    border-radius: 8px;
    
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  input [type="checkbox"]{
    padding-left: 20px;

  }
  * {
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 50%;
    padding: 60px;
}
.row:after {
    clear: both;
  padding: 60px;
  content: "";
  display: table;

}

hr .row:after{
  width: 600px;
}
label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
 
 

  
  
  