.jumbotron{
    padding-top:50px;
    padding-bottom:50px;
    margin-bottom:50px;
    color:inherit;
    background-color:lightblue;
    position: relative;
    

}
hr{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
    
}
.container1{
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
  
    
}@media (min-width:576px){
    .container{max-width:540px
    }
}@media (min-width:768px){
    .container{max-width:720px
    }
}@media (min-width:992px){
    
    .container{max-width:960px
    }
}@media (min-width:1200px){
    .container{max-width:1140px
    }
}
.footer{
  padding: 5px 10px;
  background-color:white;
color: black !important;
text-align: left;

}
.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right: 250px;
    margin-left:75px;
    padding: 10px, 20px, 100px;
}
.col-sm-4{
  -ms-flex:0 0 33.333333%;
  flex:0 0 33.333333%;
  max-width:33.333333%;
 padding-top: 1px;
 width: 100%;
}
.jumbotron1{
    padding:1rem 1rem;
    padding-bottom: 1px;
    margin-bottom:10rem;
    background-color:#e9ecef;
    border-radius:.3rem
}@media (min-width:576px)
{
    
}
.column {
    
    width: 33.33%;
    padding: 10px;
    height: 30px;
    margin-right: 85px;
    padding-top: 10px;
    }
   
    input[type=email], input[type=password], input[type=text], input[type=number]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
      }
      .but button {
        background-color: transparent;
        color: black;
        padding: 14px 18px;
        margin: 8px ;
        border: none;
        cursor: pointer;
        width: 10%;
        margin-top: 10px;
      }
      button{
        background-color: #1E90FF;
        color: white;
        padding: 14px 18px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
      }
      button:hover {
        opacity: 0.8;
      }
      
      /* Extra styles for the cancel button */
      .cancelbtn {
        width: auto;
        padding: 14px 30px;
        background-color: grey;
      }
      
      
      
      .container {
        padding:30px;
        position: center;
      }
      
      span.psw {
        float: right;
        padding-top: 16px;
      }
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }
      
      /* The Close Button (x) */
      .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: red;
        cursor: pointer;
      }
      
      /* Add Zoom Animation */
      .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
      }
      
      @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
      }
        
      @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
      }
      
      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 20%;
           float: left;
        }
      }
      .row:after {
        display: table;
        clear: both;
        padding: 30px;
        content: "";
        display: table;
        padding-left: 100px;
        margin-left: 100px;
        float: left;
        
        }

        
  .modheader{
background-color:white;
color: black !important;
text-align: left;
margin-top: 10px;
  }
  .footer2 p{
    width: 100%;
    color: black;
    text-align: center;
    background-color: white;
    left: 0;
    bottom: 100px;
    padding-bottom: 110px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin-left: 100px;
   margin-top: -50px;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    width: 105%;
    
  }
  
  .price {
    color:black;
    font-size: 15px;
    text-align: left;
     margin-left: 10px;
  }
  
  .card button {
    border: none;
    border-radius:5px ;
    outline: 0;
    padding-bottom: 0px;
    color: white;
    background-color:#1E90FF;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 18px;
    margin-bottom: 0px;
    padding: 5px;
    float: center;
   
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .dropdown{
    width: 100px;;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  .dropdown {
    float: left;
    margin-right: 100px;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 10px;
  }
 
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: 10px;;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }