h2{
    margin-top: -5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

* {
     box-sizing: border-box;
}
.column {
float: left;
width: 33.33%;
padding: 10px;
height: 30px;
}
.row:after {
display: table;
clear: both;
padding: 60px;
content: "";
display: table;
}
img{
    margin-left: 20px;
    height: 80px;
    margin-top: 50px;
    width: 250px;
}
.form{
     margin-left: 100px;
     margin-top: 100px;
     padding-top: 10px;
     display: none;
}
.kotak{
    width: 1000px;
    height: 1500px;
    background-color:white;
    border: blue;
}
.soal{
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    line-height: 1cm;
    margin-left: 10px;
    margin-right: 10px;
}
.soal li, input[type=radio]{
   float: left;
   margin-right: -150px;

}
.soal input[type=radio]{
   margin-top: 15px;

}
.soal label{
   float: left;
margin-left: 25px;

}
button{
    background-color:red;
 width: 4cm;
 height: 1cm;
 color:white;
 margin:1cm;
 border-radius: 30px;
 margin-left: 450px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
    line-height: 1cm;
    text-align: justify;

}
body{
    background-color: burlywood;
}
hr{
    width:930px;
}
